.cardsss{
  width: 100%;
  overflow: hidden;
}


.all-card{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  padding: 80px 20px;
  flex-wrap: wrap;
  background-image: url("../Group 1.png"), url("../Group 2.png");
  background-repeat: no-repeat , no-repeat;
  background-position: left top , right bottom;
  background-size: 12rem, 12rem;
}


.left-card,
.right-card{
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}


.left-card .Card{
  background: linear-gradient(135deg, #8A80DE 0%, #74A1F0 100%);
  padding: 35px;
  border-radius: 25px;
  box-shadow: 0 20px 40px rgba(138,128,222,0.25);
  width:80%;
  max-width: 380px;
}

.Card h1{
  font-size: 24px;
  color: white;
  margin-bottom: 10px;
}

.Card p{
  font-size: 15px;
  color: white;
  line-height: 1.6;
  margin-bottom: 20px;
}


.btn{
  background: white;
  color: #8A80DE;
  border: none;
  padding: 14px;
  width: 100%;
  border-radius: 40px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}


.title{
  width: 100%;
  max-width: 500px;
}

.title h1{
  font-size: clamp(30px, 5vw, 65px);
  line-height: 1.1;
  font-weight: 700;
  color: #222;
}


.two-card{
  width: 80%;
  border-radius: 25px;
  padding: 0px 20px;
  background: #ffffff;
  box-shadow: 0 15px 35px rgba(0,0,0,0.06);
  border: 1px solid rgba(138,128,222,0.12);
}


.image-card{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.img{
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 18px;
}

.image-card p{
  font-size: 20px;
  font-weight: 600;
  color: #333;
  text-align: left;
}

/* ================= DESCRIPTION ================= */

.p-card p{
  color: #666;
  font-size: 15px;
  line-height: 1.7;
  margin-top: 15px;
}

/* ================= FOOTER ================= */

.last{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 15px;
}

.send{
  background: linear-gradient(90deg, #74A1F0 0%, #8A80DE 100%);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 14px;
  cursor: pointer;
}

/* ================= ARROWS ================= */

.Arrow{
  display: flex;
  justify-content: center;
}

 .ArrowDropUpIcon{
  font-size: 10px;
  color: #8D7DDC;
}

/* ================= PHOTO ================= */

.photo{
  width: 60%;
  max-width: 300px;
  margin: 0 auto;
}

/* ================= MOBILE ================= */

@media (max-width: 768px){

  .all-card{
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .right-card{
    align-items: center;
  }

  .two-card{
    max-width: 100%;
  }

  .img{
    width: 100px;
    height: 80px;
  }

}
