.home{
    height: 90vh;
    width: 100%;
}
.logo{
    width: 20%;
}
.images{
    width: 100%;
    background-image: url("../Group\ 1.png"), url("../Group\ 2.png");
    background-repeat: no-repeat , no-repeat;
    background-position:  left top ,  right top ;
    background-size: 40rem, 45rem;
    height: 90vh;
}
.content{
    width: 100%;
}
.content p{
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    color: black;
}
.content.TextField{
    font-size: 17px;
    outline: 0;
    width: 100%;
    height: 90px;
    border: solid 2px #dedada;
    border-radius: 20px;
    padding:5px 20px;
}
.Stack{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.all{
    flex-direction: column;
    width: 100%;
}