.nav{
    width: 100%;
    height: auto;
    padding:20px 0px;
}
.login{
    color: black !important;
    border: solid 1px #eee;
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
    background-color: white !important;
    margin-right: 20px;
}
.signup{
    padding: 5px 20px;
    border-radius: 20px;
    color: white;
    border: none;
    cursor: pointer;
    background: rgb(138,128,222);
    background: linear-gradient(90deg, rgba(138,128,222,1) 0%, rgba(116,161,240,1) 100%);
}